# Ignoramos el entorno virtual
poker-env/

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos de configuración de Jupyter
jupyter_notebook_config.py

# Archivos de configuración de Python
pyproject.toml

# Archivos de logs
logs/

# Archivos de caché
__pycache__/

# Datasets
data/*.csv
